<!DOCTYPE html>
<html>
<head>
	<title>A free and secure imageboard | delaboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel='stylesheet' href='{{ url_for("static", filename="main.css" ) }}'>


	<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<style type="text/css">
		* {
			text-align: center;
		}
		body {
			/*background-color: pink;*/
		}
		.jumbotron {
			background-color: inherit;
		}
		.frow {
			background-color: gray;
			padding-top: 5px;
			color: white;
		}
		.frowr {
			background-color: rgba(233, 0, 0, 100);
		}
		.brow {
			padding: 10px;
			background-color: rgba(230, 230, 230, 10)
		}
	</style>

</head>
<body>
	{% block content %}
	{% endblock %}
</body>
</html>