{% extends "_base.html" %}

{% block content %}
	<div class='jumbotron'>
		<h1>/{{ board }}/</h1>
		<p>{{ description }}</p>
	</div>
	<div class='post-form'>
		<form method='POST'>
			<textarea name='content' placeholder="Type here..."></textarea><br>
			<input type='submit' />
		</form>
	</div>
	<div class='container'>
			{% for post in posts %}
			<div style='padding-right: 20%; padding-left: 20%;'>
				<table class='table sortable'>
					<tr style='font-size: 20px;'>
						<td style='text-align: left'>
							Anonymous #{{ post.id }}<br>
							{{ post.content }}
						</td>
					</tr>
				</table>
			</div>
			{% endfor %}
		</ul>
	</div>
{% endblock %}