{% extends "_base.html" %}

{% block content %}
	<div class='jumbotron'>
		<h1 style='font-family: "Pacifico";'><img src='static/icon.svg'style='width: 125px; height: 125px; padding-right: 10px;'/>Delaboard</h1>
	</div>
	<div class='announcements'>
		<div class='row frow frowr'>
			<div class='col-lg'><h4>Announcements</h4></div>
		</div>
		<ul class='brow'>
			<li>
				Welcome to Delaboard!
			</li>
		</ul>
	</div>
	<div class='board'>
		<div class="row frow">
			<div class='col-lg'><h4>Boards</h4></div>
		</div>
		<div class="row brow">
			<div class='col-4'><b>Technology</b></div>
			<div class='col-4'><b>Anime</b></div>
			<div class='col-4'><b>General</b></div>
		</div>
		<div class="row brow">
			<div class='col-4'><a href='/tg/'>/tg/</a></div>
			<div class='col-4'><a href='/ag/'>/ag/</a></div>
			<div class='col-4'><a href='/g/'>/g/</a></div>
		</div>
		<div class="row brow">
			<div class='col-4'><a href='/p/'>/p/</a></div>
			<div class='col-4'><a href='/h/'>/h/</a></div>
			<div class='col-4'><a href='/f/'>/f/</a></div>
		</div>
		<div class="row brow">
			<div class='col-4'><a href='/l/'>/l/</a></div>
			<div class='col-4'><a href='/yy/'>/yy/</a></div>
			<div class='col-4'><a href='/o/'>/o/</a></div>
		</div>
	</div>

{% endblock %}